<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labs.timo.verify">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.labs.timo.verify.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.labs.timo.verify"
            android:name="com.labs.timo.verify.data.VerifyProvider"
            android:exported="false"
            android:syncable="true"  />
        <service
            android:name="com.labs.timo.verify.ActivityDetectService"
            android:exported="false" />
    </application>

</manifest>
